In [65]:
import pandas as pd
df = pd.read_csv("./data/all_websites.csv")
columns_to_check = ["title", "adr", "total_area"]
duplicates = df.groupby(columns_to_check).filter(lambda x :x['price'].nunique()>1).sort_values("title")
duplicates.to_csv("./data/duplicate_apartments.csv")

In [66]:
import pandas as pd

df=pd.read_csv("./data/data-nehnutelnostisk.csv")
average_price = df["price"].mean()
average_m2_price = df["price_for_m2"].mean()
number_of_offers_per_location = df["adr"].value_counts()
average_price_per_location = df.groupby("adr")["price"].mean()

print(f"Average price for an apartment: {round(average_price, 2)}")
print(f"Average price for an m2: {round(average_m2_price, 2)}")
number_of_offers_per_location.to_csv("./data/offers_per_location.csv")
average_price_per_location.to_csv("./data/avg_price_per_location.csv")

Average price for an apartment: 256443.6
Average price for an m2: 3829.47